body {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  font-family: Open Sans;
}
.container {
  width: 992px;
  margin: 0 auto;
  padding-top: 15px;
}
.container h3 {
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  color: #1a1a1a;
}
@media (max-width: 992px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
.mainpage {
  box-sizing: border-box;
}
.mainpage_left {
  width: 25%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .mainpage_left {
    display: none;
  }
}
.mainpage_left-img {
  width: 100%;
}
.mainpage_right {
  width: 75%;
  float: left;
  padding: 15px 25px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .mainpage_right {
    width: 100%;
  }
}
.mainpage_right-title {
  color: #1a1a1a;
  font-size: 55px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  .mainpage_right-title {
    margin-top: 0px;
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .mainpage_right-title {
    font-size: 40px;
  }
}
.mainpage_right-stats {
  color: #1a1a1a;
  font-size: 22px;
  margin: 0px 0px 5px 0px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .mainpage_right-stats {
    font-size: 20px;
    margin: 0px 0px 3px 0px;
  }
}
.mainpage_right-stats span {
  margin-right: 10px;
  font-weight: 300;
  font-size: 18px;
}
@media (max-width: 768px) {
  .mainpage_right-stats span {
    font-weight: 600;
  }
}
.table-container {
  display: table;
  margin-top: 35px;
  padding-bottom: 15px;
  padding-top: 15px;
  background: rgba(255, 255, 255, 0.85);
  width: 100%;
  margin-bottom: 50px;
}
.table-container .row {
  display: table-row;
}
.table-cell-head {
  min-height: 30px;
  color: #1a1a1a;
  box-sizing: border-box;
  display: table-cell;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  vertical-align: middle;
}
.table-cell-head:first-child {
  width: 50px;
}
.table-cell-head:nth-child(2) {
  text-align: left;
  padding-left: 15px;
}
.table-cell {
  min-height: 30px;
  color: #1a1a1a;
  box-sizing: border-box;
  display: table-cell;
  padding: 10px 5px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}
.table-cell .table-send {
  padding: 7px 15px;
  border-radius: 2px;
  font-weight: 600;
  background: #ffe238;
  color: #18191b;
  font-size: 16px;
  margin-right: 15px;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}
.table-cell .table-send:hover {
  text-decoration: none;
  background: #18191b;
  color: #ffe238;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}
.table-cell .table-send:focus {
  text-decoration: none;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}
.table-cell img {
  width: 40px;
  margin-right: 25px;
}
.name-cell {
  text-align: left;
  padding-left: 15px;
}
.input-result {
  position: relative;
  margin-bottom: 50px;
}
.input-result .send-b {
  text-align: center;
}
.input-result .send-b a {
  padding: 10px 15px;
  border-radius: 2px;
  font-weight: 600;
  background: #ffe238;
  color: #18191b;
  font-size: 18px;
  margin-right: 15px;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}
.input-result .send-b a:hover {
  text-decoration: none;
  background: #18191b;
  color: #ffe238;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}
.input-result .send-b a:focus {
  text-decoration: none;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}
.input-result h3 {
  font-weight: 600;
  text-align: center;
  font-weight: 300px;
  font-size: 25px;
}
.input-result h4 {
  font-weight: 900;
  color: #1a1a1a;
  font-size: 20px;
  margin-top: 15px;
}
.input-result input {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #18191b;
  background: none;
  width: 80px;
  text-align: center;
  outline: none;
}
.input-result input:focus {
  border: 1px solid #ffe238;
}
.input-result .left-player {
  float: left;
  text-align: right;
  padding-right: 10%;
  height: 100px;
  width: 50%;
  margin-bottom: 50px;
}
.input-result .right-player {
  text-align: left;
  padding-left: 10%;
  float: left;
  height: 100px;
  width: 50%;
  margin-bottom: 50px;
}
.navigation {
  padding-left: 30px;
  padding-top: 0px;
}
.navigation nav {
  float: left;
  margin-top: 10px;
  display: flex;
  width: 100%;
}
@media (max-width: 768px) {
  .navigation nav {
    flex-direction: column;
  }
}
.navigation nav a {
  padding: 7px 15px;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 600;
  background: #18191b;
  color: #ffe238;
  font-size: 16px;
  margin-right: 15px;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}
@media (max-width: 768px) {
  .navigation nav a {
    padding: 10px 15px;
    margin-bottom: 5px;
  }
}
.navigation nav a:hover {
  text-decoration: none;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}
.navigation nav a:focus {
  text-decoration: none;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}
.navigation nav .active {
  background: #ffe238;
  color: #18191b;
}
@media (max-width: 768px) {
  .big-head div {
    display: none;
  }
}
.mini-head div {
  display: none;
}
@media (max-width: 768px) {
  .mini-head div {
    display: table-cell;
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
.invite-result {
  position: relative;
  margin-bottom: 50px;
}
.invite-result .send-b a {
  padding: 10px 15px;
  border-radius: 2px;
  font-weight: 600;
  background: #ffe238;
  color: #18191b;
  font-size: 18px;
  margin-right: 15px;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}
.invite-result .send-b a:hover {
  text-decoration: none;
  background: #18191b;
  color: #ffe238;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}
.invite-result .send-b a:focus {
  text-decoration: none;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}
.invite-result .send-b-d a {
  background: red;
  color: #fff;
}
.invite-result h3 {
  font-weight: 600;
  text-align: center;
  color: #1a1a1a;
  font-weight: 300px;
  font-size: 25px;
}
.invite-result h4 {
  font-weight: 900;
  color: #1a1a1a;
  font-size: 20px;
  margin-top: 15px;
}
.invite-result input {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #18191b;
  background: none;
  width: 80px;
  text-align: center;
  outline: none;
}
.invite-result input:focus {
  border: 1px solid #ffe238;
}
.invite-result .left-player {
  float: left;
  text-align: right;
  padding-right: 5%;
  height: 50px;
  width: 50%;
  margin-bottom: 25px;
  margin-top: 25px;
}
.invite-result .right-player {
  text-align: left;
  padding-left: 5%;
  float: left;
  height: 50px;
  width: 50%;
  margin-bottom: 25px;
  margin-top: 25px;
}
.fb-b {
  background-color: none;
  background: none;
  border: none;
  outline: none;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  opacity: 0.8;
}
.fb-b img {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  left: 50%;
  width: 250px;
  padding: 0px;
  margin-left: -125px;
}
.fb-b:hover {
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  opacity: 1;
}
