<div class="container mainpage">
  <div class="mainpage_left">
    <img class="mainpage_left-img" src="{{photo}}" alt="">
  </div>
  <div class="mainpage_right">
    <h1 class="mainpage_right-title">{{name}}</h1>
    <p class="mainpage_right-stats"><span>WinRate</span>75%</p>
    <p class="mainpage_right-stats"><span>Scores</span>25</p>
    <p class="mainpage_right-stats"><span>Place</span>1</p>
  </div>
</div>

<div class="container navigation">
  <nav>
    <a href="#/player">League Table</a>
    <a href="#/send">Send invitation</a>
    <a href="#/accept">My invitation <span>+1<span></a>
    <a class="active" href="#/games">My games</a>
  </nav>
</div>

<div class="container">

  <h3>Your active games</h3>

  <div class="game-row">
    <form>
      <button ng-click="">Cancel</button>
      <p>Player Bob</p>
      <input type="number">
      <p>-</p>
      <input type="number">
      <p>You</p>
      <input type="submit" value="Send results">
    </form>
  </div>

  <div class="game-row">
    <form>
      <button ng-click="">Cancel</button>
      <p>Player Bob</p>
      <input type="number">
      <p>-</p>
      <input type="number">
      <p>You</p>
      <input type="submit" value="Send results">
    </form>
  </div>
  


</div>
